body{
    color: #2e160f;
    background-color:#F1F8F9;
    height:100%;
}

#map {
    height: 100%;
    width:100%;
    position:fixed;
    z-index:0;
    padding:0;
}

h1,h2,h3, th, label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#header{
    border-bottom: 1px solid rgb(179, 179, 179);
}

label{
    margin:0 8px;
}

input[type=radio]{
    margin-left:8px;
}

input[type=number]{
    width:110px;
}


#title {
    font-weight:bold;
    font-size:40px;
}

table{
    width:100%;
    transition: 0.2s;
    padding:10px;
}

th,td{
    padding:0 10px;
    height:35px;
    min-width:80px;
}

th{
    background-color: #489FB5;
    color:#F1F8F9;
}

select{
    width:110px;
    height:26px;
}

.content {
    position:relative;
    width:0;
    display: inline-block;
    z-index:1;
    overflow:hidden;
    height:0;
    margin-right: -4px;
    background-color:#F1F8F9;
    /* transition: 0.5s; */
    box-shadow:3px 3px 5px -2px #2e160f;

  }

#linear_output{
    width:100%;
    font-size:18px;
    text-align: center;
}

.menu{
    padding:0;
}

.align-middle{
    text-align:center;
}

@media (min-width:10px){

}

#widget-bar{
    max-width:62px;
    /* border:1px solid black; */
    z-index:3;
    margin-right: -4px;
    display: inline-block;
    position:relative;
    vertical-align: top;
}

.btn{
    margin:5px;
    box-shadow: 0px 0px 6px -2px #2e160f;
    background-color: #FF9985;
}

.widget{
    width:40px;
}

.btn-submit{
    width:163px;
}
.btn:enabled:hover{
    background-color: #ff4824;
}