body{
    color: #2e160f;
    background-color:#F1F8F9;
    height:100%;
}

#map {
    height: 100%;
    width:100%;
    position:fixed;
    padding:0;
}

h1,h2,h3, th, label{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#header{
    border-bottom: 1px solid rgb(179, 179, 179);
}

/* #predict label{
    min-width:150px;
} */

label{
    margin:0 8px;
}

input[type=radio]{
    margin-left:8px;
}

input[type=number]{
    width:110px;
}


#title {
    font-weight:bold;
    font-size:40px;
}

table{
    width:100%;
    /* margin-left:1%;
    margin-right:1%; */
    /* display:inline; */
    transition: 0.2s;
    padding:10px;
    /* border:1px solid #2e160f; */
}

th,td{
    padding:0 10px;
    height:35px;
    min-width:80px;
    
    
}

th{
    background-color: #489FB5;
    color:#F1F8F9;
}

select{
    width:110px;
    height:26px;
}

.content {
    padding: 0;
    width:0;
    display: block;
    z-index:1;  
    overflow:hidden;
    height:100%;
    background-color:#F1F8F9;
    /* transition: 0.5s; */
    box-shadow:3px 3px 5px -2px #2e160f;
  }

#linear_output{
    width:100%;
    font-size:18px;
    text-align: center;
}


.align-middle{
    text-align:center;
}

#graphButton {
    position:absolute;
    top:165px;
    z-index:9;
    width:40px;
}

#priceButton {
    position:absolute;
    top:215px;
    z-index:9;
    width:40px;
}


#filterButton {
    position:absolute;
    top:115px;
    z-index:9;
    width:40px;
}

/* .scroller{
    overflow-y:scroll;
} */

.btn{
    margin:10px;
    box-shadow: 0px 0px 6px -2px #2e160f;
    background-color: #FF9985;
    width:80%;
}

.btn:enabled:hover{
    background-color: #ff4824;
}